[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyspark = "*"
pymongo = {extras = ["srv"], version = "*"}
kafka = "*"
flask-socketio = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
